################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/out/
/.vs
/.vscode
/cmake-build-debug/
CMakeCache.txt
CMakeFiles/
ImplantFramework/lib/external/
_deps/
